@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Plus Jakarta Sans";
    font-weight: 600;
    src: local("Plus Jakarta Sans"),
      url("./../font/PlusJakartaSans/ttf/PlusJakartaSans-SemiBold.ttf");
  }
  @font-face {
    font-family: "Plus Jakarta bold";
    font-weight: 900;
    src: local("Plus Jakarta bold"),
      url("./../font/PlusJakartaSans/ttf/PlusJakartaSans-Bold.ttf");
  }
  @font-face {
    font-family: "Plus Jakarta extrabold";
    font-weight: 900;
    src: local("Plus Jakarta extrabold"),
      url("./../font/PlusJakartaSans/ttf/PlusJakartaSans-ExtraBold.ttf");
  }
}
@layer base {
  @font-face {
    font-family: "Manrope";
    font-weight: 400;
    src: local("Manrope"), url("./../font/Manrope/Manrope-Regular.ttf");
  }
  @font-face {
    font-family: "Manrope extra";
    font-weight: 900;
    src: local("Manrope extra"), url("./../font/Manrope/Manrope-ExtraBold.ttf");
  }
}

main {
  @apply max-w-[1440px] px-[20px] lg:px-[100px] 2xl:px-[100px] m-auto;
}

@layer utilities {
  .label-header {
    @apply text-[#4475F2]  text-[12px] md:text-base xl:text-lg  font-extrabold  xl:leading-[26.5px] tracking-[1.71px] mb-2;
    font-family: "Manrope";
  }
  .header-text {
    @apply text-[#181E4B] text-[20px] md:text-[48px] xl:text-[76px] font-extrabold  xl:leading-[89px] tracking-[-3.04px];
    font-family: "Plus Jakarta extrabold";
  }
  .sub-header-text {
    @apply text-[#14183E]    font-extrabold  tracking-[-0.48px];
    font-family: "Manrope extra";
  }
  .paragrafh-header-text {
    @apply text-[#18191F] text-center text-[14px] xl:text-lg not-italic  leading-5 xl:leading-8;
    font-feature-settings: "liga" off;
    font-family: "Manrope";
  }
}

@layer utilities {
  .link {
    @apply text-[#4475F2]  text-[10px] md:text-[14px] xl:text-[17px]  font-semibold leading-[60px];
    font-family: "Plus Jakarta Sans";
  }
}
